{% extends 'base.html.twig' %}
{% block title %}index{% endblock %}

{% block body %}
    <h3 id="article">Liste des articles</h3>
    {% if articles|length > 0 %}
    <table class="table">
      <thead>
            <tr>
            <th scope="col">N°</th>
            <th scope="col">Titre</th>
            <th scope="col">Article</th>
            </tr>
        </thead>
        <tbody>

        {% for article in articles %}
        {% set idArticle = article.id %}
        {% set idUser = app.user %}
            <tr>
                <th scope="row">{{article.id}}</th>
                <td> 
                    <a href="{{ path('app_crud_commentaire_new',{idArticle:idArticle,idUser:idUser.id}) }}">
                    {{article.titre}}</a>
                </td>
                <td>{{article.texte}}</td>        
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Aucun articles enregistré</p>
    {% endif %}

{% endblock %}


